<h1>
  Add a new company
</h1>

<hr>

<%= render("company_templates/validation_failures.html.erb") %>

<form action="/insert_company_record" method="post">
  <div>
    <label for="company">
      Company
    </label>

    <input type="text" id="company" name="company" value="<%= @company.company %>">
  </div>

  <div>
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" value="<%= @company.location %>">
  </div>

  <button>
    Create company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
