<% if current_user.blank? %>

<h1> You need to sign in to use this app! </h1>

<dd>Please login or sign up using the above links.</dd>

<% else %>

<h1>
  Company list
</h1>

<a href="/new_company_form">
  Add a new company
</a>

<hr>

<table>
  <tr>


    <th>
      Company
    </th>


    <th>
      Number of Connections
    </th>

    <th>
      Last updated
    </th>


  </tr>

  <% @companies.each do |company| %>
  <tr>


    <td>
      <a href="/companies/<%= company.id %>">
        <%= company.company %>
      </a>
      
    </td>


    <td>
      <%= company.connections.count %> 
    </td>

    <td>
      <%= time_ago_in_words(company.updated_at) %> ago
    </td>


  </tr>
  <% end %>
</table>

  <% end %>
