<h1>
  Add a new location
</h1>

<hr>

<%= render("location_templates/validation_failures.html.erb") %>

<form action="/insert_location_record" method="post">
  <div>
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" value="<%= @location.address %>">
  </div>

  <button>
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
