<% if current_user.blank? %>

<h1> You need to sign in to use this app! </h1>

<dd>Please login or sign up using the above links.</dd>

<%else%>

<h1>
  Location list
</h1>

<a href="/new_location_form">
  Add a new location
</a>

<hr>

<table>
  <tr>

    <th>
      City
    </th>



    <th>
     Contacts
    </th>

    <th>
    </th>
  </tr>

  <% @locations.each do |location| %>
  <tr>


    <td>
      
      <%= location.address %>
    </td>



    <td>
  <% location.connections.each do |connection| %>

    <a href = "/connections/<%= connection.id %> ">
      <%= connection.name %> 
      </a>
      ,
  <% end %>

    </td>

    <td>
      <a href="/locations/<%= location.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

  <% end %>

